body{
    width: auto;
    height: auto;
    font-size: 15px;
    background: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.8;
}
strong{
    font-weight: 700;
}
body::before{
    display: none;
}
/*h1, h2, h3, h4, h5, h6,strong, b{
    color: #000110;
}*/

a {
    transition: all .5s ease;
    transition: all .5s ease;
}
a:hover {
    border-bottom-color: transparent;
    font-weight: 700;
    transition: all .5s ease;
    transition: all .5s ease;
}
img{
   /* margin: 20px 0;*/
   display: block;
   margin: auto;

}
video{
   display: block;
   margin: auto;
}
::-webkit-scrollbar {  
    display: none;
}

h1{
    /*font-family: 'Montserrat', sans-serif;*/
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    padding-top: 15vh;
    margin-bottom: 3vh;
}

.float-nav { 
    background-color: #000; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#overview {
    background: #fff;
    color: #000;
}

#research {
    background: #000;
    color: #fff;
}

.overview-table {
    margin: 0 auto;
    width: 30%;
}
.overview-table tbody tr {
    background: none !important;
    border: 0;
}
.overview-table tbody tr td {
    padding: 0.55rem 0.75rem;
}


.hidden{
    display: none;
}

/*float nav*/
.float-nav-hide {
    opacity: 0 !important;
    top: -80px !important;
}
.float-nav {
    position: fixed;
    width: 100%;
    height: 68px;
    z-index: 99;
    top: 0px;
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.float-nav .logo {
    width: 4em;
    height: 2em;
    background: url(../../images/logo.png) no-repeat;
    background-size: contain;
    margin-top: 20px;
    margin-left: 25px;
}
/*.float-nav .logo_dark {
    width: 4em;
    height: 2em;
    background: url(../../images/logo_theme.png) no-repeat;
    background-size: contain;
    margin-top: 20px;
    margin-left: 25px;
}*/

.float-nav .nav {
    position: absolute;
    right: 20px;
    top: 26px;
}
.float-nav .nav a {
    /*color: #fff;*/
    /*text-decoration: none;*/
    border: 0px;
/*    font-size: 16px;*/
    padding: 0 10px;

    font-family: aktiv-grotesk,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color:#fff;
    opacity: 50%;
    transition: all .5s ease;
}
.float-nav .nav a:hover {
    opacity: 100%;
    font-size: 14px;
    transition: all .5s ease;
}

/*bottom nav*/
.bottom-nav {
    width: 100%;
    height: 200px;
/*    margin: 0 auto;
    margin-top: 0em;
    padding: 0 3em;*/
}
.bottom-nav-block-left{
    width: 100%;
    height: 200px;
    background: #000;
}
.bottom-nav-block-right{
    width: 100%;
    height: 200px;
    background: #fff;
}
.bottom-nav-inblock{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    /*background: linear-gradient(to right top,#ECE9E6, #ffffff);*/
}
.bottom-nav h5 {
    font-family: aktiv-grotesk,Helvetica,sans-serif;
    font-weight: 700;
    font-size:12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    opacity: 50%;
    transition: all .5s ease;
    -webkit-font-smoothing:antialiased;
}
.bottom-nav h4 {
    font-family: 'Montserrat', sans-serif;
    /*font-family: proxima-nova, sans-serif;*/
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: all .5s ease;
}
.bottom-nav-block-right h5{
    color: #000;
    transition: all .5s ease;
}
.bottom-nav-block-right h4{
    color: #000;
    transition: all .5s ease;
}
.bottom-nav-block-left h5{
    color: #fff;
    transition: all .5s ease;
}
.bottom-nav-block-left h4{
    color: #fff;
    transition: all .5s ease;
}

#continuum-nav:hover{
    background: linear-gradient(to right top,#ECE9E6, #ffffff);
    transition: all .5s ease;
}
#continuum-nav:hover h4{
    color: #000;
    transition: all .5s ease;
}
#continuum-nav:hover h5{
    color: #000;
    transition: all .5s ease;
}

#vinyl-nav:hover{
    background: linear-gradient(to right top, #fdeff9, #ec38bc, #7303c0);
    transition: all .5s ease;
}
#vinyl-nav:hover h4{
    color: #fff;
    transition: all .5s ease;
}
#vinyl-nav:hover h5{
    color: #fff;
    transition: all .5s ease;
}

@media screen and (max-width: 480px) {
    .bottom-nav {
        height: auto;
        bottom: 0;
        padding: 0;
    }
    .bottom-nav-a {
        margin-top: 0;
        width: 100%;
        height: 70px;
        text-align: center;
        padding: 23px 0px;
    }
    .bottom-nav-a-white {
        margin-top: 0;
        width: 100%;
        height: 70px;
        text-align: center;
        padding: 23px 0px;
    }

    .bottom-nav > .nav-left {
        float: none;
    }
    .bottom-nav > .nav-right {
        float: none;
    }
    .bottom-nav-a a {
        float: none;
    }
    .bottom-nav-a-white a {
        float: none;
    }
}

ul.row {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0.6rem 0px;
}
.card,.card-text{
    border: 0;
    margin:1.8rem 0;
}
.card-text {
    margin-top: 200px;
    max-width: 28em;
}
@media screen and (max-width: 768px){
    .card-text{
        margin:30px 0;
    }
}
.card_hub {
    width: 50%;
    padding: 0px 25px;
    display: inline-block;
    float: left;
}
.gifcontainer {
    width: 300px;
    margin: 0 auto;
}
.gifcontainer img {
    margin: 0;
    width: 100%;
    border: 1px solid #DDD;
}
.imgcontainer {
    width: 200px;
    margin: 0 auto;
}
.imgcontainer img {
    margin: 0;
    width: 100%;
    border: 1px solid #DDD;
}


.back-btn{
    width: 100%;
    line-height: 12px;
}
.menu-ul{
    padding: 0;
    margin: 0;
}
/*li.font_padding a {
    font-size: 120%;
    font-weight: 500;
    text-transform: uppercase;
}*/
.sub{
    /*margin: 0;*/
    opacity: 30%;
    font-weight: 700;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.sub:hover{
    /*margin-left: 20px;*/
    opacity: 1;
    font-weight: 900;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
/*.sub:before{
    content: '';
    position: absolute;
    margin-top: 0.1em;
    width: 2px;
    height: 1.4em;
    background: #FFF;
    opacity: 0;
    left: -5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}*/
/*.sub:hover:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 1.4em;
    background: #000;
    opacity: 0.5;
    left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}*/
.select {
    /*padding-left: 20px;*/
    font-weight: 900;
    opacity: 1;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
/*.b_select {
    color: rgb(143, 160, 255)!important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}*/
.select:hover{
    margin: 0 !important;
    transition: all .5s ease;
}
/*.select:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background: #b4bfff;
    opacity: 1;
    left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}*/


img.project_img{
    width: 100%;
}
@media screen and (max-width:415px){
    #project-main{
        border:0 !important;
        margin-top: 0px !important;
        padding-top: 70px !important;
        margin-bottom: 0 !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    #project-page {
        width: 100%;
        padding: 0;
    }
    .card_hub{
        width: 100%;
    }
    .project-aside {
        width: 80%;
        position: fixed;
        /* top: 70px; */
        margin: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        left: -100%;
        opacity: 0;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-aside-show{
        left: 0;
        opacity: 1;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .back-btn {
        display: none;
    }
    .menu-ul {
        padding-left: 7%;
    }
    .project-nav-toggle {
        position: fixed;
        top: 100px;
        right: 20px;
        width: 30px;
        height: 3px;
        z-index: 999;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-nav-toggle i {
        width: 30px;
        height: 3px;
        background: rgba(0, 0, 0, 0.8);
        display: block;
    }
    .project-nav-toggle i::before{
        content: '';
        position: absolute;
        top:10px;
        background: rgba(0, 0, 0, 0.8);
        width: 30px;
        height: 3px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-nav-toggle i::after{
        content: '';
        position: absolute;
        top:-10px;
        background: rgba(0, 0, 0, 0.8);
        width: 30px;
        height: 3px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-nav-toggle-n i{
        background: rgba(0, 0, 0, 0);
    }
    .project-nav-toggle-n i::before{
        top:0;
        transform: rotate(45deg);
    }
    .project-nav-toggle-n i::after{
        top:0;
        transform: rotate(-45deg);
    }
    .select {
        padding-left: 10px;
    }
    .select:before{
        content: '';
        position: absolute;
        width: 2px;
        height: 18px;
        background: #FFF;
        opacity: 1;
        left: 20px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
}



li.font_padding{
    padding-top: 15px !important;
}

h1.header{
    font-size: 55px;
    padding-bottom: 20px;
    color: #E3857A;
}

h1.header:after{
    content:"";
    display: block;
    height: 0.5em;
    width: 100%;
    border-bottom: 2px solid #ddd;
}


a.btn-warning{
    font-family:"Ubuntu",sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

iframe {
    width: 100%;
    margin: 0 auto;
}

iframe.prototype{
   height: 730px;
   border: none;
}

iframe.vimeo{
   width:100%;
   height: 680px;
   display:block;
   margin: 0 auto 30px;
}

iframe.youtube{
   width:100%;
   height: 500px;
    display:block;
    margin: 0 auto;
}

h2.page-header{
    color: #3c3c3c;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 4.2rem;
/*    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    padding-top: 15vh;
    margin-bottom: 3vh;*/
}

h3.page-header{
    color: #4A4A4A;
    font-size: 1.0rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
}

hr {
  color: #3c3c3c;
  background-color: #3c3c3c;
  border: none;
  margin: 0 auto;
  height: 0.06rem;
  width: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

div.highlight{
    margin-top: 15px;
    padding: 10px;
}

.initial{
    margin-left: 300px !important;
}

h4.mini-title{
  color:#4A4A4A;
  font-size:0.8rem;
  font-family: 'Futura', sans-serif;
  text-align: left;
}



h4.cic-winner{
    margin-top: 30px;
    text-decoration: none;
    float:left;
}

h4.cic-winner a{
    font-size:15px;
    color: #fff;
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    padding:8px 13px;
    background: #BCBCBC;
    border-radius: 3px;
    text-decoration: none;
}


h4.cic-press{
    margin-top: 30px;
    margin-left: 10px;
    text-decoration: none;
    float: left;
    
}

h4.cic-press a{
    font-size:15px;
    color: #fff;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    padding:8px 13px;
    background: #777;
    border-radius: 3px;
    text-decoration: none;
}

p.mini-desc{
    margin-bottom: 1.8rem;
}

h3.header{
  color:#404148;
  font-size:20px;
  margin:35px 20px 10px;
  text-transform: uppercase
}

h3.overview_subtitle{
    color: #bebebe;
    font-size: 0.89rem;
    font-weight: 800;
    padding-top: 1.2rem;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 0.6rem;
}

p.project-desc {
 /* color:#4A4A4A;
  font-size:16px;
  text-align:left;
  line-height: 30px;
  font-family: "Myriad Pro", sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #3c3c3c;
}
p.image-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.2rem;
  color: #3c3c3c;
}
.top-nav {
   display: none;
}

.top-img {
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
/*    background-position-y: 60px;*/
}
@media screen and (max-width: 480px) {
    .top-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 375px !important;
    }
}
.zoom-img {
    position: relative;
    margin-top: 2em;
}
.scrolltip {
    padding: 5px 15px;
    border-radius: 6px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 10px;
}

p.left-vertical-line {
    padding-left: 1.6rem;
    border-left-width: 0.4rem;
    border-left-style: solid;
    
}

p.margin-top-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

span.key-word {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.video-features {
    width: 85%;
    border-radius: 26px;
    box-shadow: 2px 8px 44px rgba(0,0,0,0.10);
}

.gif {
    border-radius: 20px;
    box-shadow: 2px 8px 64px rgba(0,0,0,0.20);
}